### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Java ###
*.class
*.log
*.ctxt
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
**/build/**/*.jar

### Mac OS ###
.DS_Store

### Spring Boot / Application Config ###
# 민감 정보가 포함된 설정 파일은 제외 (선택 사항)
# 보통 로컬 개발용이나 비밀번호가 들어간 파일들
application-secret.yml
application-prod.yml
*.env

### Logs ###
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Q Class ###
**/src/main/generated/

### GEMINI.md ###
GEMINI.md

### Mock Data ###
src/main/resources/**

### API Document ###
docs

### Generated / Build Outputs ###
**/bin/
**/generated/
**/generated-sources/
**/build/
**/out/
**/minio_data/
